@font-family-base: 'Raleway', 'Arimo', sans-serif;

@header__height: 6.2rem;
@header__padding-top: 1rem;

@footer__height: 2rem;


@color-red-base:       #F44336;
@color-red-lighten-5:  #FFEBEE;
@color-red-lighten-4:  #FFCDD2;
@color-red-lighten-3:  #EF9A9A;
@color-red-lighten-2:  #E57373;
@color-red-lighten-1:  #EF5350;
@color-red-darken-1:   #E53935;
@color-red-darken-2:   #D32F2F;
@color-red-darken-3:   #C62828;
@color-red-darken-4:   #B71C1C;
@color-red-accent-1:   #FF8A80;
@color-red-accent-2:   #FF5252;
@color-red-accent-3:   #FF1744;
@color-red-accent-4:   #D50000;

@color-pink-base:       #e91e63;
@color-pink-lighten-5:  #fce4ec;
@color-pink-lighten-4:  #f8bbd0;
@color-pink-lighten-3:  #f48fb1;
@color-pink-lighten-2:  #f06292;
@color-pink-lighten-1:  #ec407a;
@color-pink-darken-1:   #d81b60;
@color-pink-darken-2:   #c2185b;
@color-pink-darken-3:   #ad1457;
@color-pink-darken-4:   #880e4f;
@color-pink-accent-1:   #ff80ab;
@color-pink-accent-2:   #ff4081;
@color-pink-accent-3:   #f50057;
@color-pink-accent-4:   #c51162;

@color-purple-base:       #9c27b0;
@color-purple-lighten-5:  #f3e5f5;
@color-purple-lighten-4:  #e1bee7;
@color-purple-lighten-3:  #ce93d8;
@color-purple-lighten-2:  #ba68c8;
@color-purple-lighten-1:  #ab47bc;
@color-purple-darken-1:   #8e24aa;
@color-purple-darken-2:   #7b1fa2;
@color-purple-darken-3:   #6a1b9a;
@color-purple-darken-4:   #4a148c;
@color-purple-accent-1:   #ea80fc;
@color-purple-accent-2:   #e040fb;
@color-purple-accent-3:   #d500f9;
@color-purple-accent-4:   #aa00ff;

@color-deep-purple-base:       #673ab7;
@color-deep-purple-lighten-5:  #ede7f6;
@color-deep-purple-lighten-4:  #d1c4e9;
@color-deep-purple-lighten-3:  #b39ddb;
@color-deep-purple-lighten-2:  #9575cd;
@color-deep-purple-lighten-1:  #7e57c2;
@color-deep-purple-darken-1:   #5e35b1;
@color-deep-purple-darken-2:   #512da8;
@color-deep-purple-darken-3:   #4527a0;
@color-deep-purple-darken-4:   #311b92;
@color-deep-purple-accent-1:   #b388ff;
@color-deep-purple-accent-2:   #7c4dff;
@color-deep-purple-accent-3:   #651fff;
@color-deep-purple-accent-4:   #6200ea;

@color-indigo-base:       #3f51b5;
@color-indigo-lighten-5:  #e8eaf6;
@color-indigo-lighten-4:  #c5cae9;
@color-indigo-lighten-3:  #9fa8da;
@color-indigo-lighten-2:  #7986cb;
@color-indigo-lighten-1:  #5c6bc0;
@color-indigo-darken-1:   #3949ab;
@color-indigo-darken-2:   #303f9f;
@color-indigo-darken-3:   #283593;
@color-indigo-darken-4:   #1a237e;
@color-indigo-accent-1:   #8c9eff;
@color-indigo-accent-2:   #536dfe;
@color-indigo-accent-3:   #3d5afe;
@color-indigo-accent-4:   #304ffe;

@color-blue-base:       #2196F3;
@color-blue-lighten-5:  #E3F2FD;
@color-blue-lighten-4:  #BBDEFB;
@color-blue-lighten-3:  #90CAF9;
@color-blue-lighten-2:  #64B5F6;
@color-blue-lighten-1:  #42A5F5;
@color-blue-darken-1:   #1E88E5;
@color-blue-darken-2:   #1976D2;
@color-blue-darken-3:   #1565C0;
@color-blue-darken-4:   #0D47A1;
@color-blue-accent-1:   #82B1FF;
@color-blue-accent-2:   #448AFF;
@color-blue-accent-3:   #2979FF;
@color-blue-accent-4:   #2962FF;

@color-light-blue-base:       #03a9f4;
@color-light-blue-lighten-5:  #e1f5fe;
@color-light-blue-lighten-4:  #b3e5fc;
@color-light-blue-lighten-3:  #81d4fa;
@color-light-blue-lighten-2:  #4fc3f7;
@color-light-blue-lighten-1:  #29b6f6;
@color-light-blue-darken-1:   #039be5;
@color-light-blue-darken-2:   #0288d1;
@color-light-blue-darken-3:   #0277bd;
@color-light-blue-darken-4:   #01579b;
@color-light-blue-accent-1:   #80d8ff;
@color-light-blue-accent-2:   #40c4ff;
@color-light-blue-accent-3:   #00b0ff;
@color-light-blue-accent-4:   #0091ea;

@color-cyan-base:       #00bcd4;
@color-cyan-lighten-5:  #e0f7fa;
@color-cyan-lighten-4:  #b2ebf2;
@color-cyan-lighten-3:  #80deea;
@color-cyan-lighten-2:  #4dd0e1;
@color-cyan-lighten-1:  #26c6da;
@color-cyan-darken-1:   #00acc1;
@color-cyan-darken-2:   #0097a7;
@color-cyan-darken-3:   #00838f;
@color-cyan-darken-4:   #006064;
@color-cyan-accent-1:   #84ffff;
@color-cyan-accent-2:   #18ffff;
@color-cyan-accent-3:   #00e5ff;
@color-cyan-accent-4:   #00b8d4;

@color-teal-base:       #009688;
@color-teal-lighten-5:  #e0f2f1;
@color-teal-lighten-4:  #b2dfdb;
@color-teal-lighten-3:  #80cbc4;
@color-teal-lighten-2:  #4db6ac;
@color-teal-lighten-1:  #26a69a;
@color-teal-darken-1:   #00897b;
@color-teal-darken-2:   #00796b;
@color-teal-darken-3:   #00695c;
@color-teal-darken-4:   #004d40;
@color-teal-accent-1:   #a7ffeb;
@color-teal-accent-2:   #64ffda;
@color-teal-accent-3:   #1de9b6;
@color-teal-accent-4:   #00bfa5;

@color-green-base:       #4CAF50;
@color-green-lighten-5:  #E8F5E9;
@color-green-lighten-4:  #C8E6C9;
@color-green-lighten-3:  #A5D6A7;
@color-green-lighten-2:  #81C784;
@color-green-lighten-1:  #66BB6A;
@color-green-darken-1:   #43A047;
@color-green-darken-2:   #388E3C;
@color-green-darken-3:   #2E7D32;
@color-green-darken-4:   #1B5E20;
@color-green-accent-1:   #B9F6CA;
@color-green-accent-2:   #69F0AE;
@color-green-accent-3:   #00E676;
@color-green-accent-4:   #00C853;

@color-light-green-base:       #8bc34a;
@color-light-green-lighten-5:  #f1f8e9;
@color-light-green-lighten-4:  #dcedc8;
@color-light-green-lighten-3:  #c5e1a5;
@color-light-green-lighten-2:  #aed581;
@color-light-green-lighten-1:  #9ccc65;
@color-light-green-darken-1:   #7cb342;
@color-light-green-darken-2:   #689f38;
@color-light-green-darken-3:   #558b2f;
@color-light-green-darken-4:   #33691e;
@color-light-green-accent-1:   #ccff90;
@color-light-green-accent-2:   #b2ff59;
@color-light-green-accent-3:   #76ff03;
@color-light-green-accent-4:   #64dd17;

@color-lime-base:       #cddc39;
@color-lime-lighten-5:  #f9fbe7;
@color-lime-lighten-4:  #f0f4c3;
@color-lime-lighten-3:  #e6ee9c;
@color-lime-lighten-2:  #dce775;
@color-lime-lighten-1:  #d4e157;
@color-lime-darken-1:   #c0ca33;
@color-lime-darken-2:   #afb42b;
@color-lime-darken-3:   #9e9d24;
@color-lime-darken-4:   #827717;
@color-lime-accent-1:   #f4ff81;
@color-lime-accent-2:   #eeff41;
@color-lime-accent-3:   #c6ff00;
@color-lime-accent-4:   #aeea00;

@color-yellow-base:       #ffeb3b;
@color-yellow-lighten-5:  #fffde7;
@color-yellow-lighten-4:  #fff9c4;
@color-yellow-lighten-3:  #fff59d;
@color-yellow-lighten-2:  #fff176;
@color-yellow-lighten-1:  #ffee58;
@color-yellow-darken-1:   #fdd835;
@color-yellow-darken-2:   #fbc02d;
@color-yellow-darken-3:   #f9a825;
@color-yellow-darken-4:   #f57f17;
@color-yellow-accent-1:   #ffff8d;
@color-yellow-accent-2:   #ffff00;
@color-yellow-accent-3:   #ffea00;
@color-yellow-accent-4:   #ffd600;

@color-amber-base:       #ffc107;
@color-amber-lighten-5:  #fff8e1;
@color-amber-lighten-4:  #ffecb3;
@color-amber-lighten-3:  #ffe082;
@color-amber-lighten-2:  #ffd54f;
@color-amber-lighten-1:  #ffca28;
@color-amber-darken-1:   #ffb300;
@color-amber-darken-2:   #ffa000;
@color-amber-darken-3:   #ff8f00;
@color-amber-darken-4:   #ff6f00;
@color-amber-accent-1:   #ffe57f;
@color-amber-accent-2:   #ffd740;
@color-amber-accent-3:   #ffc400;
@color-amber-accent-4:   #ffab00;

@color-orange-base:       #ff9800;
@color-orange-lighten-5:  #fff3e0;
@color-orange-lighten-4:  #ffe0b2;
@color-orange-lighten-3:  #ffcc80;
@color-orange-lighten-2:  #ffb74d;
@color-orange-lighten-1:  #ffa726;
@color-orange-darken-1:   #fb8c00;
@color-orange-darken-2:   #f57c00;
@color-orange-darken-3:   #ef6c00;
@color-orange-darken-4:   #e65100;
@color-orange-accent-1:   #ffd180;
@color-orange-accent-2:   #ffab40;
@color-orange-accent-3:   #ff9100;
@color-orange-accent-4:   #ff6d00;

@color-deep-orange-base:       #ff5722;
@color-deep-orange-lighten-5:  #fbe9e7;
@color-deep-orange-lighten-4:  #ffccbc;
@color-deep-orange-lighten-3:  #ffab91;
@color-deep-orange-lighten-2:  #ff8a65;
@color-deep-orange-lighten-1:  #ff7043;
@color-deep-orange-darken-1:   #f4511e;
@color-deep-orange-darken-2:   #e64a19;
@color-deep-orange-darken-3:   #d84315;
@color-deep-orange-darken-4:   #bf360c;
@color-deep-orange-accent-1:   #ff9e80;
@color-deep-orange-accent-2:   #ff6e40;
@color-deep-orange-accent-3:   #ff3d00;
@color-deep-orange-accent-4:   #dd2c00;

@color-brown-base:       #795548;
@color-brown-lighten-5:  #efebe9;
@color-brown-lighten-4:  #d7ccc8;
@color-brown-lighten-3:  #bcaaa4;
@color-brown-lighten-2:  #a1887f;
@color-brown-lighten-1:  #8d6e63;
@color-brown-darken-1:   #6d4c41;
@color-brown-darken-2:   #5d4037;
@color-brown-darken-3:   #4e342e;
@color-brown-darken-4:   #3e2723;

@color-blue-grey-base:       #607d8b;
@color-blue-grey-lighten-5:  #eceff1;
@color-blue-grey-lighten-4:  #cfd8dc;
@color-blue-grey-lighten-3:  #b0bec5;
@color-blue-grey-lighten-2:  #90a4ae;
@color-blue-grey-lighten-1:  #78909c;
@color-blue-grey-darken-1:   #546e7a;
@color-blue-grey-darken-2:   #455a64;
@color-blue-grey-darken-3:   #37474f;
@color-blue-grey-darken-4:   #263238;

@color-grey-base:       #9e9e9e;
@color-grey-lighten-5:  #fafafa;
@color-grey-lighten-4:  #f5f5f5;
@color-grey-lighten-3:  #eeeeee;
@color-grey-lighten-2:  #e0e0e0;
@color-grey-lighten-1:  #bdbdbd;
@color-grey-darken-1:   #757575;
@color-grey-darken-2:   #616161;
@color-grey-darken-3:   #424242;
@color-grey-darken-4:   #212121;
