@import url('https://fonts.googleapis.com/css?family=Arimo|Open+Sans');

html {
  height: 100%;
  width: 100%;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.wrap {
  height: 100%;
}
