.home .content .divider-horisontal {
  width: 7rem;
  display: block;
  clear: both;
  margin: 0;
  padding: 0 0 1rem 0;
  border-color: #bbb;
}

.home .content p {
  font-family: 'Arimo', sans-serif;
  text-indent: 1.2rem;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.home ul.social-links {
  list-style: none;
  text-align: center;
  padding-top: 4rem;
}

.home ul.social-links li {
  display: inline-block;
  padding: 0 1rem; 
  margin: 0;
}

.home ul.social-links li a img {
  width: 3.5rem;
}

.home ul.social-links li:hover a img {
  opacity: 0.7;
  transition: all 0.3s cubic-bezier(0.48,0.25,0.35,0.98);
  -webkit-transition: all 0.3s cubic-bezier(0.48,0.25,0.35,0.98);
}
