html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
} 


html, 
body, 
.wrap {
  height: 100%;
}

body > .wrap {
  height: auto; 
  min-height: 100%;
}




.home .header {
  padding: 1rem 0;
}

.home .header .logo {
  margin: 0;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.home .header .under-logo {
  margin: 0;
  font-size: 1.1rem;
  line-height: 1.1em;
  font-family: 'Arimo', sans-serif;
}

.home .header .locale-buttons {
  float: right;
  padding: 1rem 1rem 0 0;
}

.home .header .locale-buttons a {
  color: #bbb;
  font-size: 1.6rem;  
}

.home .header .locale-buttons a.active {
  color: #1EAEDB;
}

.home .header .locale-buttons a:hover {
  cursor: pointer;
  color: #22CFFF;
  opacity: 0.7;
  transition: all 0.3s cubic-bezier(0.48,0.25,0.35,0.98);
  -webkit-transition: all 0.3s cubic-bezier(0.48,0.25,0.35,0.98);
}

.home .header .locale-buttons .vr {
  width: 1px;
  background-color: #d8d8d8;
  display: inline-block;
}



.home .content {
  padding-top: 5rem;
  padding-bottom: 2rem; /* footer height */
}

.home .content .divider-horisontal {
  width: 7rem;
  display: block;
  clear: both;
  margin: 0;
  padding: 0 0 1rem 0;
  border-color: #bbb;
}

.home .content p {
  text-indent: 1.2rem;
  font-family: 'Arimo', sans-serif;
}



.home ul.social-links {
  list-style: none;
  text-align: center;
  padding-top: 4rem;
}

.home ul.social-links li {
  display: inline-block;
  padding: 0 1rem; 
  margin: 0;
}

.home ul.social-links li a img {
  width: 3.5rem;
}

.home ul.social-links li:hover a img {
  opacity: 0.7;
  transition: all 0.3s cubic-bezier(0.48,0.25,0.35,0.98);
  -webkit-transition: all 0.3s cubic-bezier(0.48,0.25,0.35,0.98);
}


.home .footer {
  position: relative;
  margin-top: -2rem; /* footer height */
  height: 2rem; /* footer height */
  clear:both;
}

.home .footer .copyright {
  float: right;
  padding-right: 1rem;
  font-size: 1.2rem; 
}




.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix { 
  height: 1%;
}
.clearfix {
  display: block;
}
/* End hide from IE-mac */

.hidden {
  display: none;
  visibility: hidden;
}
